@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@implements ISpawnMenuTab
@attribute [Title( "Mounts" )]
@attribute [Order( 1000 )]

<SpawnMenuPage>
    <Left>
        <VerticalMenu Value="@selected" class="menuinner"> 
            <Options>

                @foreach (var group in Sandbox.Mounting.Directory.GetAll().GroupBy(x => x.Available ? "Installed" : "Not Installed"))
                {
                    <h2>@group.Key</h2>

                    @foreach (var entry in group)
                    {
                        <MenuOption Value="@entry.Ident" Text="@entry.Title" onclick="@( () => Switch( entry.Ident ) )"></MenuOption>
                    }
                }

            </Options>
        </VerticalMenu>
    </Left>

    <Body>
        @if (!string.IsNullOrEmpty(selected))
        {
            <MountContent Ident="@selected"></MountContent>
        }
        else
        {

        }
    </Body>
</SpawnMenuPage>

@code
{
    string selected = "";

    void Switch( string ident )
    {
        selected = ident;
    }


}
