@using Sandbox.UI

@inherits Panel

<root>
    <div class="left @(LeftSteamId == Connection.Local.SteamId ? "me" : "")">@LeftText</div>
    <div class="method">@MethodText</div>
    <div class="right @(RightSteamId == Connection.Local.SteamId ? "me" : "")">@RightText</div>
</root>

@code
{
	[Property] public string LeftText { get; set; } = "";
	[Property] public string RightText { get; set; } = "";
	[Property] public string MethodText { get; set; } = "";
	[Property] public long LeftSteamId { get; set; }
	[Property] public long RightSteamId { get; set; }
}
