@using Sandbox.UI

@inherits Panel

<root class="entry @(Client.Connection == Connection.Local ? "me" : "")">
    <label class="name">@playerName</label>
    <label class="kills">@kills</label>
    <label class="deaths">@deaths</label>
    <label class="ping">@ping</label>
</root>

@code
{
    public PlayerData Client { get; set; }

    private string playerName = "";
    private string kills = "";
    private string deaths = "";
    private string ping = "";
    
    private RealTimeSince timeSinceUpdate = 0;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        UpdateData();
    }

    public override void Tick()
    {
        base.Tick();

        if (!IsVisible)
            return;

        if (!Client.IsValid())
            return;

        if (timeSinceUpdate < 0.1f)
            return;

        timeSinceUpdate = 0;
        UpdateData();
    }

    private void UpdateData()
    {
        if (!Client.IsValid())
            return;
            
        playerName = Client.DisplayName;
        kills = Client.Kills.ToString();
        deaths = Client.Deaths.ToString();
        ping = Client.Ping.ToString();
        
        StateHasChanged();
    }
}
